# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/secrets.toml

# Uploaded/generated user files
uploads/*
exports/*

# Local data
data/*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/